<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ЦРБ</title>
    <link rel="stylesheet" href="../static/back.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body style="width: 100%; overflow-x: hidden">
<div style='width:100vw;border-bottom:1px solid #262626' class="d-flex flex-column flex-md-row align-items-center pb-2 mb-4">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span style='padding-left:20px' class="fs-4">ЦРБ</span>
      </a>

      <nav style='padding-right:20px' class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
          {% if not session['group_name'] %}
          <a class="me-3 py-2 text-dark text-decoration-none" href="{{ url_for('auth.login_page') }}">Логин</a>
          {% endif %}
          {% if session['group_name']=='doctor' or session['group_name']=='director' %}
          <a class="me-3 py-2 text-dark text-decoration-none" href="{{ url_for('request.get_bp_index') }}">Инфо</a>
          <a class="me-3 py-2 text-dark text-decoration-none" href="{{ url_for('update.get_bp_index') }}">Врачи</a>
          {% endif %}
          {% if session['group_name']=='external'%}
          <a class="me-3 py-2 text-dark text-decoration-none" href="{{ url_for('basket.cart_init') }}">Запись</a>
          {% endif %}
          {% if session['group_name'] %}
          <a class=" py-2 text-dark text-decoration-none" href="{{ url_for('exit') }}">Выход</a>
          {% endif %}
      </nav>

    </div>

<div style='margin:20px' class="pricing-header p-3 pb-md-4 mx-auto text-center mb-5">
      <h1 class="display-4 fw-normal">Центральная районная больница</h1>
    <p class="fs-5 text-muted">Полное название:	Альметьевская Центральная Районная Больница</p>
    <p class="fs-5 text-muted">Сокращенное название:	Альметьевская ЦРБ</p>
    <p class="fs-5 text-muted">Сайт:	https://almetcrb.tatarstan.ru</p>
    <p class="fs-5 text-muted">Электронная почта:	mz.almetievsk_crb@tatar.ru</p>
    <p class="fs-5 text-muted">Телефон приемной:	8(8553) 33-76-27</p>
    <p class="fs-5 text-muted">Адрес:	423461, Республика Татарстан, г. Альметьевск, пр-кт. Строителей, д. 30/1</p>

    </div>

    <footer>
    <div class="row">
        <small class="d-block mb-1 text-muted">© 2017–2022</small>
      </div>
      <div style="margin-bottom:10px">
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
        </ul>
      </div>

    </div>
  </footer>
</body>
</html>