<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../static/back.css">
    <meta charset="UTF-8">
    <title>Добавление</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_auth.css') }}">
</head>
<body>
<div align="center", class="box">
    <h2>Добавление врача</h2>
    <div>
        <form action="" method="post">
    <div>
        <div>
            <label for id="FIO_doctor">Фамилия Имя Отчество</label>
        </div>
        <input type="text" id="FIO_doctor" name="FIO_doctor" required>
    </div>
    <br>
    <div>
        <div>
            <label for id="Speciality">Специальность</label>
        </div>
        <input type="text" id="Speciality" name="Speciality" required>
    </div>
    <br>
    <div>
        <div>
            <label for id="date_begin">Дата начала работы</label>
        </div>
        <input type="date" id="date_begin" name="date_begin" required>
    </div>
    <br>
    <div>
        <div>
            <label for id="date_begin">Номер кабинета</label>
        </div>
        <input type="text" id=numb_kab" name="numb_kab" required>
    </div>
    <input type="submit" value="Добавить">
</form>
    </div>
    <a class="button" href="{{ url_for('update.get_bp_index') }}">Назад</a>
</div>
</body>
</html>