body {
    height: 100%;
    width: 100%;

}

.card {
  position: relative;
  width: 400px;
  height: 500px;
  margin: 20px auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}

.card .content {
  padding: 20px;
  text-align: center;
  transition: 0.5s;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    height: 5%;
    width: 100%;
    background: #1CAC78;
    padding: 20px;
}

h3 {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    color: black;
    height: 30px;
    width: 250px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    padding: 5px;
}

h4 {
    font-family: Helvetica, Arial, sans-serif;
}

a {
  font-family: Helvetica, sans-serif;
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  color: black;
  text-decoration: none;
  border-bottom:1px solid black;
}

.red{
  border:none;
}

body {
background-image: url('Group_30.png');
object-fit: fill;
}