<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_auth.css') }}">
</head>
<body style="overflow: hidden">
<div align="center" class="box">
    <h2>Регистрация</h2>
    <div>
        <form action="" method="post">
            <input type="text" name="login" placeholder="Логин" required><br>
            <input type="password" name="password" placeholder="Пароль" required><br>
            <input align="left" type="submit" value="Вход">
        </form>
    </div>
    <hr class="line">
    <a class="button" href="{{ url_for('index') }}">В главное меню</a>
    <br>
    <a class="button" href="{{ url_for('auth.login_page') }}">Авторизации</a>
</div>
</body>
</html>